.about-us {
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 35px;
    padding-top: 50px;
    @media (max-width: $md2+px) {
      font-size: 26px;
    }
  }

  &__box {
    max-width: 65%;
    margin-bottom: 100px;
    @media (max-width: $md2+px) {
      margin-bottom: 50px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    @media (max-width: $md3+px) {
      font-size: 12px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    @media (max-width: $md3+px) {
      font-size: 20px;
    }
  }

  &__parts {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  &__part {
    max-width: 45%;
    background-color: rgba(245, 198, 198, 0.164);
    padding: 15px 20px 15px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 200px;
  }

  &__part-name {
    font-size: 18px;
    font-weight: 700;
    color: #ff5402;
    margin-bottom: 7px;
    @media (max-width: $md3+px) {
      font-size: 14px;
    }
  }

  &__part-desc {
    font-size: 14px;
    @media (max-width: $md3+px) {
      font-size: 12px;
    }
  }

  &__image {
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }

  &__comix {
    position: relative;
    height: 1px;
    img {
      width: 100%;
      max-width: 300px;
      object-fit: cover;
      position: absolute;
      right: -285px;
      top: -145px;
      z-index: 5;
      @media (max-width: $md2+px) {
        max-width: 200px;
        right: -100px;
        top: -60px;
      }
      @media (max-width: 520px) {
        max-width: 150px;
        right: -205px;
        top: -114px;
      }
    }
    .comix-2-1,
    .comix-2-2,
    .comix-2-3 {
      top: -197px;
      right: -269px;
      @media (max-width: 470px) {
        right: -115px;
      }
    }
    .comix-3-1,
    .comix-3-2,
    .comix-3-3 {
      top: -220px;
      @media (max-width: $md2+px) {
        top: -100px;
        right: -200px;
      }
      @media (max-width: $md3+px) {
        right: -155px;
        top: -80px;
      }
      @media (max-width: 470px) {
        right: -115px;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 198, 198, 0.164);
    padding: 20px 15px;
    margin-bottom: 100px;
    @media (max-width: $md3+px) {
      padding: 10px 5px;
    }
    @media (max-width: $md2+px) {
      margin-bottom: 50px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__row-content {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    span {
      font-weight: 700;
      font-size: 42px;
      line-height: 20px;
      color: #ff5402;
      margin-bottom: 10px;
      white-space: nowrap;
      @media (max-width: $md3+px) {
        font-size: 24px;
      }
    }
    @media (max-width: $md2+px) {
      &:first-child {
        flex-direction: row;
        .about-us__row-text {
          white-space: nowrap;
        }
        span {
          margin: 0 10px;
        }
      }
    }
  }

  &__row-text {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    @media (max-width: $md3+px) {
      font-size: 12px;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
  &__row-link {
    font-size: 14px;
    font-weight: 700;
    @media (max-width: $md3+px) {
      font-size: 12px;
    }
  }

  &__row-btn {
    padding: 5px 20px;
    @media (max-width: $md3+px) {
      font-size: 12px;
      padding: 3px 10px;
    }
  }

  .nav-header {
    &__link {
      &:first-child {
        .nav-header__link-child {
          border-bottom: 2px solid #fff;
        }
      }
      &:last-child {
        .nav-header__link-child {
          border-bottom: 2px solid #00a653;
        }
      }
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
