.btn {
  display: inline-flex;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  height: 35px;
  background-color: #f68038;
  color: #fff;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  @media (min-width: 992px) {
    &:hover {
      background-color: #e67630;
    }
  }
}

.input {
  border-radius: 0 !important;
  width: 100%;
  height: 30px;
  border: 1px solid #dadada;
  display: block;
  text-align: center;
  input {
    margin: 0;
  }
}

.mix-btn {
  color: #fff;
  background-color: #e22c2c;
  font-size: 16px;
  border-radius: 8px;
  line-height: 25px;
  padding: 2px 12px;
  transition: all 0.3s ease 0s;
  border: 2px solid #e22c2c;
  font-weight: 700;
  outline: none;
  &:hover {
    // color: #e22c2c;
    // background-color: #fff;
    transform: scale(1.05);
  }
}

.choose-btn {
  display: flex;
  align-items: center;

  background-color: transparent;
  color: #e22c2c;

  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  height: 29px;
  padding: 0 0 0 7px;
  padding-right: 7px;
  border-radius: 0.5em;
  border: 2px solid #e22c2c;
  outline: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  max-height: 29px;
  &__count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e22c2c;
    color: #fff;
    padding: 0 5px;
    margin-right: -7px;
    margin-left: 5px;
  }
  &:hover {
    color: #fff;
    background-color: #e22c2c;
  }
}
